In [1]:
import pandas as pd
import os
import tabula
from docx.api import Document

In [2]:

if os.path.isdir('Parent')== True:
    os.chdir('Parent')
#FOR CHILD1 DIRECTORY
if os.path.isdir('Child1')==True:
    os.chdir('Child1')
#PDF FILE READING
if os.path.isfile('Pdf1_Child1.pdf')==True:
    df_pdf_child1=tabula.read_pdf('Pdf1_Child1.pdf',pages='all')
#DOCUMENT READING
if os.path.isfile('Document_Child1.docx')==True:
    document = Document('Document_Child1.docx')
    table = document.tables[0]
    data = []

    keys = None
    for i, row in enumerate(table.rows):
        text = (cell.text for cell in row.cells)
        if i == 0:
            keys = tuple(text)
            continue
        row_data = dict(zip(keys, text))
        data.append(row_data)
df_document_child1=pd.DataFrame(data)
#TEXT READING
if os.path.isfile('Text_Child1.txt')==True:
    df_text_child1=pd.read_csv('Text_Child1.txt')

In [3]:
df_text_child1

   AB  DF    G  DF.1  SDF   ADA   QW  WE    ER  FD
0   2  45   56     7    8     9   65   3  5436  78
1  12  34  345   667   56  5657  768  45    46  67
2  67  89    8     9   89     8   78   9    67  67
3   1  23    4     5   65    76    8   6    45  67

In [4]:
os.chdir('../')
if os.path.isdir('Parent')== True:
    os.chdir('Parent')
#FOR CHILD2 DIRECTORY
if os.path.isdir('Child2')==True:
    os.chdir('Child2')
#PDF FILE READING
if os.path.isfile('Pdf1_Child2.pdf')==True:
    df_pdf_child2=tabula.read_pdf('Pdf1_Child2.pdf',pages='all')
#DOCUMENT READING
if os.path.isfile('Document_Child2.docx')==True:
    document = Document('Document_Child2.docx')
    table = document.tables[0]
    data = []

    keys = None
    for i, row in enumerate(table.rows):
        text = (cell.text for cell in row.cells)
        if i == 0:
            keys = tuple(text)
            continue
        row_data = dict(zip(keys, text))
        data.append(row_data)
df_document_child2=pd.DataFrame(data)
#TEXT READING
if os.path.isfile('Text_Child2.txt')==True:
    df_text_child2=pd.read_csv('Text_Child2.txt')

In [5]:
df_pdf_child2[0].head(4)

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3

In [6]:
os.chdir('../')
if os.path.isdir('Parent')== True:
    os.chdir('Parent')
#FOR CHILD3 DIRECTORY
if os.path.isdir('Child3')==True:
    os.chdir('Child3')
#PDF FILE READING
if os.path.isfile('Pdf1_Child3.pdf')==True:
    df_pdf_child3=tabula.read_pdf('Pdf1_Child3.pdf',pages='all')
#DOCUMENT READING
if os.path.isfile('Document_Child3.docx')==True:
    document = Document('Document_Child3.docx')
    table = document.tables[0]
    data = []

    keys = None
    for i, row in enumerate(table.rows):
        text = (cell.text for cell in row.cells)
        if i == 0:
            keys = tuple(text)
            continue
        row_data = dict(zip(keys, text))
        data.append(row_data)
df_document_child3=pd.DataFrame(data)
#TEXT READING
if os.path.isfile('Text_Child3.txt')==True:
    df_text_child3=pd.read_csv('Text_Child3.txt')

In [7]:
df_text_child3

   AF  FC  GFB   DW  SF    BA    Q  WS    RR  FR  CW
0   2  45   56    7   8     9   65   3  5436  78  34
1  12  34  345  667  56  5657  768  45    46  67  34
2  67  89    8    9  89     8   78   9    67  67  43
3   1  23    4    5  65    76    8   6    45  67  61